@{
    ViewData["Title"] = "Enviar mensaje a SQS";
}

<h2>Enviar mensaje a SQS</h2>

<form asp-action="SendMessage" method="post">
    <div class="form-group">
        <label></label>
        <textarea class="form-control" name="message" id="message" rows="4" placeholder="Escribe tu mensaje aquí..."></textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Send Message</button>
</form>